<!DOCTYPE html>
<html>
  <head>
    <title>Current rooms</title>
  </head>
  <body>
    <h1>Current rooms</h1>
    <% Object.keys(rooms).forEach(function(id) { %>
    <div style="margin:20px 0">
      <h2>
        <%= rooms[id].name %>
        <span style="margin-left: 20px"><%= rooms[id].id %></span>
      </h2>

      <ul>
        <li>mode: <%= rooms[id].mode %></li>
        <li>playersMax: <%= rooms[id].playersMax %></li>
        <li>playersCurrent: <%= rooms[id].playersCurrent %></li>
        <li>gameCode: <%= rooms[id].gameCode %></li>
        <li>owner: <%= rooms[id].owner %></li>
        <li>admin: <%= rooms[id].admin %></li>
        <li>state: <%= rooms[id].state %></li>
        <li>players: <%= JSON.stringify(rooms[id].players) %></li>
        <li>winners: <%= rooms[id].winners %></li>
        <li>createdAt: <%= rooms[id].createdAt %></li>
      </ul>
    </div>
    <% }) %>
  </body>
</html>
